<div class="container">
    <legend>Contact form</legend>
    
    <div class="form-group">
    
      <textarea class="form-control" name="idContactDetails" id="" cols="30" rows="10"></textarea>
    
      <label class="col-sm-2 col-form-label" for="select">Answer by:  </label>
      <select id="select"   class="form-control form-control-sm"
        (change)="changeTypeAnswer($event.target.value)">
        <option value="">Choose ...</option>
          <option value="Telephone">Phone</option>
          <option value="Email">Email</option>
          <option value="SMS">SMS</option>
      </select>
    
      <br>

    <div *ngIf="typeAnswer=='Telephone'">
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Phone</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputEmail3" placeholder="Phone Number">
            </div>
          </div>
        <div class="form-group row">
          <label  class="col-sm-2 col-form-label">Date to contact</label>
          <div class="col-sm-10">
              <input type="date" id="date"/>
          </div>
        </div>
    </div>
    <div *ngIf="typeAnswer=='Email'">
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
            <div class="form-group row"><div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
              </div>
            </div>
        </div>
    </div>
    <div *ngIf="typeAnswer=='SMS'">
        <div class="form-group row"><div class="col-sm-10">
            <input type="text" class="form-control" id="inputEmail3" placeholder="Phone number">
          </div>
        </div>
     </div>

      <div>
          <button type="submit" class="btn btn-success">Accept</button>
          <button type="submit" class="btn btn-danger">Cancel</button>
          <button type="button" class="btn btn-warning">Call Now!</button>
      </div>


       
    </div>


   <!-- old contacts-->
   <div class="form-group">

      <table class="table" >
          <thead class="thead-dark">
            <tr>
                <th scope="col">Status</th>
                <th scope="col">Request</th>
                <th scope="col">Respond</th>
                <th scope="col">Summary</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row"><span class="glyphicon glyphicon-ok"></span></th>
              <td>02/01/2019</td>
              <td>30/01/2019</td>
              <td>It's Ok</td>
            </tr>
          </tbody>
        </table>
    </div>
            
</div>