
<fieldset>
  <legend>Courtesy Car</legend>

  <div class="bd-example">
      <dl>
        <dt>Information about your policy</dt>
        <dd>Your policy allows you request a courtesy car. Firt all, please select the car category that you would like to request</dd>
      </dl>
  </div>   
  <div>
      <label for="select">Cagegory:  </label>

      <select (change)="changeSelectCaegory($event.target.value)">
          <option value="">Choose ...</option>
            <option value="1">Level 1</option>
            <option value="2">Level 2</option>
            <option value="3">Level 3</option>
        </select>
  </div>
  <div>
    <h3>Options available</h3>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Make</th>
            <th scope="col">Model</th>
            <th scope="col">Year</th>
            <th scope="col">Nº door</th>
            <th scope="col">Colour</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let car of carAvilable">
                <td>{{car.make}}</td>
                <td>{{car.model}}</td>
                <td>{{car.year}}</td>
                <td>{{car.numDoor}}</td>
                <td>{{car.colour}}</td>
              </tr>
        </tbody>
    </table>     
  </div>
</fieldset>
